[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"django-bootstrap4" = "==0.0.6"
django-registration = "==2.4.1"
pytz = "==2018.4"
Django = "==2.0"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.6"
