/*!* start home *!*/
body {
  font-family: "Sansita", serif;
  color: black;
}
.header-picture {
  height: 600px;
  background-image: url("../img/3.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
.navbar-brand {
  padding-left: 30px;
}
.navbar-expand-md .navbar-nav .nav-link {
  text-emphasis-color: rgba(255, 255, 255, 1);
}
.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1.1rem;
  padding-left: 1.4rem;
}

.header-picture h1,
h4 {
  color: white;
  text-align: center;
}
footer {
  background-color: #eee;
  padding: 25px;
  font-size: 20px;
}
h6 {
  padding-left: 10%;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 20em;
  margin-right: 20em;
  margin-top: 30px;
  border-style: inset;
  border-width: 1px;
}
.team {
  font-size: 24px;
  /*box-shadow: -2px 1px rgb(53, 175, 37);*/
}
/* end home*/
