{% extends "base.html" %} {% load bootstrap4 %} {% load i18n %} {% bootstrap_css %} {% bootstrap_javascript jquery='full'
%} {% bootstrap_messages %} {% block content %}

<div class="container">
  <div class = "col-sm-10 col-sm-offset-8">
    <form method="POST" action=".">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-5 mt-4" style="width: 200px;">
          <select id="crs" class="custom-select custom-select-sm" name="course">
            <option selected>Open this select menu</option>
            {% for obj in crs_names %}
            <option value="{{ obj.courses }}" name="course">{{ obj.courses }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      {% buttons %}
         <button type="submit" class="btn btn-success col-sm-2  mt-3">Search</button>
      {% endbuttons %}
    </form>
  </div>
</div> <!-- enf of container div-->

{% if files %}

        <div class="container">
          <div class="row">
             {% for file in files%}
                 {% for document in documents %}
            <div class="col-sm-4 mt-4">
              <div class="card">
                <div class="card-header ">
                  {{filename}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{document.title  }}</h5>
                  <p class="card-text">{{ document.description }}</p>
                  <a href="http://127.0.0.1:8000/media/documents/{{filename}}/{{file}}" class="btn btn-success" download>Download</a>
                </div>
              </div>
            </div>
                     {% endfor %}
              {% endfor %}
          </div>
        </div>

{% else %}
    {% if not_found %}
    <div class="container">
      <div class="alert alert-danger">
          {{ not_found }}
      </div>
    </div>
    {% endif %}

{%endif%}
{% endblock %}