{% extends "base.html" %} {% load bootstrap4 %} {% load i18n %} {% bootstrap_css %} {% bootstrap_javascript jquery='full'
%} {% bootstrap_messages %} {% block content %}


<div class="container ">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-8 ">
                <small>{% bootstrap_form form %}</small>
            </div>ho
        </div>
        {% buttons %}
        <button type="submit" class="btn btn-success">Upload Files</button>
        {% endbuttons %}
    </form>
</div>


{% endblock %}
