<nav class="navbar navbar-expand-md bg-success navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#houzayfa" aria-controls="houzayfa"
            aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="houzayfa">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="navbar-brand" href="/">UOSFiles</a></li>
          {% if not user.is_authenticated %}
      </ul>
        <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/files/documents/">Files</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">accounts</a></li>
        <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="/about-me">About Me </a></li>
        </ul>
          {% else %}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/files/dashboard"><i class="fas fa-chalkboard-teacher fa-1x  fa-fw aria-hidden='true' "></i> Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/files/documents/"><i class="fas fa-file fa-1x  fa-fw aria-hidden='true'"></i> Files</a></li>
            <!-- <li class="nav-item" class="dropdown-menu">
              <a class="nav-link"> 
                <i class="fas fa-graduation-cap fa-1x  fa-fw aria-hidden='true'"></i> 
                {{ user.username }}
              </a>
            </li> -->
            <div class="dropdown" >
                <li class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-graduation-cap fa-1x  fa-fw aria-hidden='true'"></i> 
                    {{ user.username }}
                </li>
                <li class="nav-item dropdown-menu">
                  <a  class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                </li>
              </div>
            </div>
        {% endif %}
    </div>
</nav>
