<nav class="navbar navbar-expand-sm navbar-dark bg-success box-shadow">
    <a class="navbar-brand" href="/">UOSFiles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#houzayfa" aria-controls="houzayfa"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse " id="houzayfa">
        {% if not user.is_authenticated %}

       <ul class="navbar-nav ml-auto ">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/files/dashboard/">Courses</a></li>

            <li class="nav-item"><a class="nav-link" href="/files/documents/">Upload Files</a></li>
           <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">accounts</a></li>
            <li class="nav-item"><a class="nav-link" href="/about-me">About Me </a></li>
        </ul>

          {% else %}

        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/files/dashboard"><i class="fas fa-chalkboard-teacher fa-1x  fa-fw aria-hidden='true' "></i> Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/files/documents/"><i class="fas fa-file fa-1x  fa-fw aria-hidden='true'"></i> Files</a></li>

            <div class="dropdown" >
                <li class="btn btn-success dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-graduation-cap fa-1x  fa-fw aria-hidden='true'"></i>{{ user.username }} </li>
                <li class="nav-item dropdown-menu"> <a  class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
            </div>
        </ul>
        {% endif %}
    </div>
</nav>
