{% extends "base.html" %} {% block content %}
<!-- there is nothing to disply for now-->
<section>
  <div class="header-picture">
    <div class="container">
      <div class="row">
        <div class=" col-xs-8 col-mid-12">
          <h1 class=" my-2 wow fadeInDownBig" data-wow-duration="2s">Have Access To All The Files!</h1>
          <h4 class="my-5 wow  bounceInLeft" data-wow-duration="2s">-We are aiming to provide our users with previous quizzes, midterms and final in the near future!</h4>
        </div>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container">
    <h1 style="text-align: center;">Our Goals !</h1>
    <div class="row">
      <div class=" float-left col-xs-12 col-md-6">
        <p style="font-size: 20px;padding-left: 20px;margin-top:110px;">We are tirelessly working to collect the vast majority of files in order to save it in one place. UosFiles has meant
          to help UOS students to get the best grades through providing them with previous quizzes, midterms and finals.
          We are seeking your help in order to take
          <kbd>UOSFILES</kbd> to the next level where we can all work hand-to-hand in order to achieve our goal!</p>
        <p class="team">&#8702; The Team.</p>
      </div>
      <div class=" float-right col-xs-12 col-md-6">
        <img style="margin-top:50px;" src="{% static 'img/4.jpg' %}" class="img-fluid" alt="Cinque Terre">
      </div>

    </div>
    <hr>
  </div>
</section>
<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
      </div>
    </div>
    <div class="row text-center my-4">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-success"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <p class="text-muted my-4">We have designed our website to be responsive to different devices and windows or screen sizes. </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-success"></i>
          <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
        </span>
        <p class="text-muted my-4">Our Lovely design will make it easy for the user to use our service and will entice the students to use our website. </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-success"></i>
          <i class="fas fa-user-shield fa-stack-1x fa-inverse"></i>
        </span>
        <p class="text-muted my-4 ">We are working hard to keep our users safe from downloading any harmful files.We will be tracking every suspicious
          files and delete them</p>
      </div>
    </div>
  </div>
</section>


<footer class="footer center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 copyright">
        <h6> We love working alongside ambitious brands and people. Contact us if you'd like us to build something great together.</h6>
      </div>
    </div>
  </div>
</footer>
{% endblock content %}