{% extends "base.html" %} {% load bootstrap4 %} {% load i18n %} {% bootstrap_css %} {% bootstrap_javascript jquery='full'%}
{% bootstrap_messages %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4 ">
      {% if form.errors %}
      <p class="bg-danger p-2">Incorrect password</p>
      {% endif %} {% if next %} {% if user.is_authenticated %}
      <p class="bg-warning p-1">Your account doesn't have access.</p>
      {% else %}
      <p class="bg-secondary">Please login to see this page.</p>
      {% endif %} {% endif %}
      <form method="post" action="{% url 'users::password_change' %}">
        {% csrf_token %}{% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Change Password</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>
{% endblock %}