{% extends "base.html" %} {% load bootstrap4 %} {% load i18n %} {% bootstrap_css %} {% bootstrap_javascript jquery='full'%}
{% bootstrap_messages %} {% block content %}
<div class="column is-4 ">
  <div class="field">
    <h1>Register for free!</h1>
    <form method="post" action=".">
      {% csrf_token %} {% bootstrap_form form %}
      <div class="field">
        <div class="column">
          <button type="submit" class="button btn-success" value="{% trans 'Join' %}">Join</button>
        </div>
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>

<hr/>
<div class="column is-4 ">
  <div class="field">
    <p>Need to
      <a href="{% url 'auth_login' %}">Login</a>?</p>
  </div>
</div>


{% endblock %}